<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Misión y Visión </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/img/mision.png"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title
        ><ion-icon name="telescope"></ion-icon> Misión</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      Fortalecer y potenciar el ser humano, ayudando al mejoramiento de la
      calidad de vida de docentes, funcionarios administrativos, estudiantes de
      pregrado, postgrado y egresados de Nuestra Alma Máter a través de un
      conjunto de acciones eficientes, sustentadas en los principios de
      integralidad, participación, racionalización, solidaridad y equidad.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/img/vision.png"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title><ion-icon name="golf"></ion-icon> Visión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Bienestar Institucional dispondrá los recursos humanos, logísticos y
      tecnológicos que contribuyan al mejoramiento de la calidad de vida y al
      desarrollo humano e impulsen procesos de construcción social, creativos y
      productivos que ayuden a fortalecer las áreas, formativa, participativa,
      comunicativa y de prestación de servicios de toda la comunidad
      universitaria.
    </ion-card-content>
  </ion-card>
</ion-content>
