<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Cultura </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600">
        Cultura Bienestar Institucional
      </h1>
    </ion-text>
    <ion-img src="assets/img/Culture.png"></ion-img>
    <ion-text color="primary">
      <h1 style="text-align: inherit; font-weight: 400">
        Presentación
      </h1>
    </ion-text>
    <p>
      El Bienestar visto como apoyo institucional para el desarrollo de las actividades misionales de la Universidad, investigación, docencia y extensión, constituye un pilar fundamental que proporciona los mecanismos sociales y humanos bajo los cuales se posibilita la formación integral de la comunidad estudiantil, su permanencia y perseverancia en el proceso de formación. De igual forma, fortalece el nivel de bienestar de la comunidad Upecista y contribuye en el desarrollo integral de ésta.
    </p>
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600; font-size: 20px;">
        Objetivos
      </h1>
    </ion-text>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Propiciar y fomentar la participación de estudiantes, docentes, funcionarios y egresados de la Universidad en las actividades culturales, folclóricas y artísticas que se desarrollen.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Desarrollar eventos, seminarios o encuentros en los que se promueva la reflexión, los intercambios, el análisis o la expresión de aspectos relevantes de la cultura, como complemento de las actividades académicas.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Desarrollar programas de investigación cultural en aquellas áreas que complementen la visión formativa de la Universidad.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Divulgar las manifestaciones culturales de la Universidad.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Promover procesos de comunicación al interior de la Universidad que contribuyan a fortalecer el sentido de pertenencia y la identidad cultural a través de la utilización de los medios adecuados para ello.
      </ion-label>
    </ion-item>
  </div>
</ion-content>

