<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Deportes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600">
        Deporte Bienestar Institucional
      </h1>
    </ion-text>
    <ion-img src="assets/img/Deporte.png"></ion-img>
    <ion-text color="primary">
      <h1 style="text-align: inherit; font-weight: 400">
        Presentación
      </h1>
    </ion-text>
    <p>
      El Bienestar visto como apoyo institucional para el desarrollo de las actividades misionales de la Universidad, investigación, docencia y extensión, constituye un pilar fundamental que proporciona los mecanismos sociales y humanos bajo los cuales se posibilita la formación integral de la comunidad estudiantil, su permanencia y perseverancia en el proceso de formación. De igual forma, fortalece el nivel de bienestar de la comunidad Upecista y contribuye en el desarrollo integral de ésta.
    </p>
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600; font-size: 20px;">
        Objetivos
      </h1>
    </ion-text>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Incentivar la práctica de las actividades física y deportivas como estrategias para mejorar la calidad de vida de los miembros de la comunidad universitaria con miras a fortalecer la salud, aumentar la capacidad física del organismo y buscar un equilibro entre mente y cuerpo.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Propiciar y fortalecer la práctica del deporte recreativo entre los miembros de la comunidad universitaria con el propósito de facilitar la integración.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Promover el desarrollo del nivel competitivo de los deportistas y equipos de representación de la Universidad, fomentando la disciplina y el esfuerzo personal y colectivo, en el impulso del deporte Inter-universitario.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Gestionar la dotación de los implementos y materiales necesarios para la práctica del deporte en la Universidad ante las instancias correspondientes y los recursos necesarios para la representación decorosa de nuestros deportistas en los eventos de carácter local regional, nacional e internacional.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        El desarrollo de programas y jornadas de integración a la comunidad universitaria que fomenten la práctica deportiva y recreativa.
      </ion-label>
    </ion-item>
  </div>
</ion-content>
