
ion-title {
  // font-size: 16px;
  font-weight: 600;
  // margin-bottom: 8px;
}

ion-card-subtitle{
  color: #0F8E17;
}

.label{
  font-size: 20px;
  color: #0F8E17;
  font-weight: bold;
  display: block;
}