<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Contactos </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="assets/img/psicologia.jpg" alt="upc"></ion-img>
    <ion-card-header>
      <ion-card-title>Psicologia</ion-card-title>
      <ion-card-subtitle>Departamento</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Son profesionales que trabajan en colaboración con estudiantes, profesores, administradores y personal de la universidad para promover el bienestar emocional y mental de la comunidad universitaria en su conjunto.
    
      <ion-item>
        <ion-label class="label">
          Contacto : 324-67289832
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="label">
          Email : psicologia@unicesar.edu.co
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="assets/img/trabajo.jpg" alt="upc"></ion-img>
    <ion-card-header>
      <ion-card-title>Trabajo Social</ion-card-title>
      <ion-card-subtitle>Departamento</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Son profesionales capacitados en la identificación y resolución de problemas sociales y emocionales que afectan a los estudiantes y al personal universitario.

      <ion-item>
        <ion-label class="label">
          Contaco : 324-67289832
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="label">
          Email : trabajosocial@unicesar.edu.co
        </ion-label>
      </ion-item>


    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="assets/img/deportes.jpg" alt="upc"></ion-img>
    <ion-card-header>
      <ion-card-title>Deportes</ion-card-title>
      <ion-card-subtitle>Departamento</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Son expertos en el desarrollo y promoción de la actividad física y el deporte como herramientas para mejorar la salud y el bienestar de los estudiantes y el personal universitario. 
    
      <ion-item>
        <ion-label class="label">
          Contacto : 324-67289832
        </ion-label>
      </ion-item>

      <ion-item>

        <ion-label class="label">
          Email : deportes@unicesar.edu.co
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="assets/img/danzas.jpg" alt="upc"></ion-img>
    <ion-card-header>
      <ion-card-title>Danzas</ion-card-title>
      <ion-card-subtitle>Departamento</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Son expertos en el desarrollo y promoción de la danza como herramienta para mejorar la salud y el bienestar de los estudiantes y el personal universitario. 
    
      <ion-item>
        <ion-label class="label">
          Contacto : 324-67289832
        </ion-label>

      </ion-item>

      <ion-item>

        <ion-label class="label">
          Email : danzas@unicesar.edu.co
        </ion-label>
      </ion-item>
    
    </ion-card-content>
  </ion-card>

</ion-content>
