<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Salud </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600">
        Salud Bienestar Institucional
      </h1>
    </ion-text>
    <ion-img src="assets/img/Salud.png"></ion-img>
    <ion-text color="primary">
      <h1 style="text-align: inherit; font-weight: 400">
        Presentación
      </h1>
    </ion-text>
    <p>
      El Bienestar visto como apoyo institucional para el desarrollo de las
      actividades misionales de la Universidad, investigación, docencia y
      extensión, constituye un pilar fundamental que proporciona los mecanismos
      sociales y humanos bajo los cuales se posibilita la formación integral de
      la comunidad estudiantil, su permanencia y perseverancia en el proceso de
      formación. De igual forma, fortalece el nivel de bienestar de la comunidad
      Upecista y contribuye en el desarrollo integral de ésta.
    </p>
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600; font-size: 20px;">
        Objetivos
      </h1>
    </ion-text>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Desarrollar programas de promoción y prevención en coordinación con otras dependencias, sobre estudios epidemiológicos, de condiciones de vida y enfermedades infectas contagiosas con riesgo de afectar la salud de la comunidad Académica.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Suscribir convenios con entidades de salud de orden municipal y departamental y con entes especializados para mejorar y ampliar la prestación de servicios en laboratorios clínicos, ínter consultas, seguros médicos y de accidentes, vacunación etc., garantizando una adecuada y eficiente prestación de los mismos.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Promover el desarrollo del nivel competitivo de los deportistas y equipos de representación de la Universidad, fomentando la disciplina y el esfuerzo personal y colectivo, en el impulso del deporte Inter-universitario.
      </ion-label>
    </ion-item>
  </div>
</ion-content>
