<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Restaurante </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">restaurant</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="ion-padding">
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600">
        Restaurante Universitario
      </h1>
    </ion-text>
    <ion-img src="assets/img/restaurant.png"></ion-img>
    <p>
      En esta sección se podrá ver el menú del restaurante y realizar pedidos de
      los platillos que se deseen. A continuación se muestra un formulario para
      realizar un pedido.
    </p>
  </div>
  <div class="ion-padding">
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600">
        Formulario de Reserva
      </h1>
    </ion-text>

    <!-- Aqui el formulario -->
    <!-- <ion-item> -->
    <ion-input
      label="Documento"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese su documento"
      errorText="Documento Invalido"
      type="number"
      style="margin-bottom: 5px"
      [ngModel]="document"
      (ionChange)="handleChangeDocument($event)"
      required
    ></ion-input>

    <ion-input
      label="Nombre"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese su nombre"
      errorText="Nombre Invalido"
      [ngModel]="name"
      type="text"
      style="margin-bottom: 5px"
      required
      (ionChange)="handleChangeName($event)"
      [disabled]="clientFound"
    ></ion-input>
    <!-- Select -->
    <!-- <ion-item fill="outline">
        <ion-label>Platillo</ion-label> -->
    <ion-select
      placeholder="Seleccione su rol"
      interface="action-sheet"
      style="margin-bottom: 5px"
      label="¿Quien eres?"
      fill="outline"
      required
      [ngModel]="role"
      (ionChange)="handleChangeRole($event)"
      errorText="Rol Invalido"
      [disabled]="clientFound"
    >
      <ion-select-option value="1">Estudiante</ion-select-option>
      <ion-select-option value="2">Docente</ion-select-option>
      <ion-select-option value="3">Administrativo</ion-select-option>
    </ion-select>

    <ion-select
      placeholder="Indique su carrera"
      interface="action-sheet"
      style="margin-bottom: 5px"
      label="Carrera"
      fill="outline"
      [ngModel]="carrera"
      (ionChange)="handleChangeCarrera($event)"
      required
      errorText="Carrera Invalida"
    >
      <ion-select-option value="1">Ing. Sistemas</ion-select-option>
      <ion-select-option value="5">Ing. Ambiental</ion-select-option>
      <ion-select-option value="6">Ing. Agroindustrial</ion-select-option>
      <ion-select-option value="2">Economía</ion-select-option>
      <ion-select-option value="3">Contaduría</ion-select-option>
      <ion-select-option value="4">Administración</ion-select-option>
      <ion-select-option value="7">Tecnologia Agropecuaria</ion-select-option>
    </ion-select>

    <ion-select
      placeholder="Indique el tipo de comida"
      interface="action-sheet"
      style="margin-bottom: 5px"
      label="Comida"
      fill="outline"
      [ngModel]="selected"
      (ionChange)="handleChangeFood($event)"
      required
      errorText="Comida Invalida"
    >
      <ion-select-option value="1">Desayuno</ion-select-option>
      <ion-select-option value="2">Almuerzo</ion-select-option>
      <ion-select-option value="3">Cena</ion-select-option>
    </ion-select>

    <!-- Comidas -->
    <div *ngIf="selected === '1'">
      <ion-text color="primary">
        <h4 style="text-align: center; font-weight: 600">Desayunos</h4>
      </ion-text>
      <ion-card *ngFor="let item of desayunos" color="light">
        <ion-card-header>
          <!-- <ion-card-subtitle></ion-card-subtitle> -->
          <ion-img [src]="item.img"></ion-img>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary" style="font-weight: 600">
            <h2>{{item.price}}</h2>
          </ion-text>
          <ion-button
            expand="block"
            color="primary"
            (click)="handleClick(item)"
          >
            <ion-icon
              [name]="item.active === true ? 'checkmark-circle' : 'add-circle'"
              style="margin-right: 5px; font-size: 20px"
            ></ion-icon>
            {{ item.active === true ? 'Agregado' : 'Agregar' }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="selected === '2'">
      <ion-text color="primary">
        <h4 style="text-align: center; font-weight: 600">Almuerzos</h4>
      </ion-text>
      <ion-card *ngFor="let item of almuerzos" color="light">
        <ion-card-header>
          <!-- <ion-card-subtitle></ion-card-subtitle> -->
          <ion-img [src]="item.img"></ion-img>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary" style="font-weight: 600">
            <h2>{{item.price}}</h2>
          </ion-text>
          <ion-button
            expand="block"
            color="primary"
            (click)="handleClick(item)"
          >
            <ion-icon
              [name]="item.active === true ? 'checkmark-circle' : 'add-circle'"
              style="margin-right: 5px; font-size: 20px"
            ></ion-icon>
            {{ item.active === true ? 'Agregado' : 'Agregar' }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="selected === '3'">
      <ion-text color="primary">
        <h4 style="text-align: center; font-weight: 600">Cenas</h4>
      </ion-text>
      <ion-card *ngFor="let item of cenas" color="light">
        <ion-card-header>
          <!-- <ion-card-subtitle></ion-card-subtitle> -->
          <ion-img [src]="item.img"></ion-img>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="primary" style="font-weight: 600">
            <h2>{{item.price}}</h2>
          </ion-text>
          <ion-button
            expand="block"
            color="primary"
            (click)="handleClick(item)"
          >
            <ion-icon
              [name]="item.active === true ? 'checkmark-circle' : 'add-circle'"
              style="margin-right: 5px; font-size: 20px"
            ></ion-icon>
            {{ item.active === true ? 'Agregado' : 'Agregar' }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="selected === ''">
      <ion-text color="danger">
        <h4 style="text-align: center; font-weight: 600">
          Seleccione un tipo de comida
        </h4>
      </ion-text>
    </div>

    <!-- Fecha -->
    <ion-item>
      <ion-label>Fecha de reserva</ion-label>
    </ion-item>
    <ion-item>
      <ion-datetime
        display-format="DD/MM/YYYY"
        picker-format="DD/MM/YYYY"
        [(ngModel)]="myDate"
        (ionChange)="handleChangeDate($event)"
      ></ion-datetime>
    </ion-item>
  </div>
  <div class="ion-padding">
    <!-- Total a Pagar -->
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600">Total a Pagar</h1>
    </ion-text>
    <ion-item>
      <ion-label>Subtotal</ion-label>
      <ion-label slot="end"
        >{{ current.price ? current?.price : 0 }}
      </ion-label>
    </ion-item>

    <ion-text *ngIf="error" color="danger">
      <h6 style="text-align: center; font-weight: 500">{{ error }}</h6>
    </ion-text>
    <ion-button expand="block" color="primary" 
    (click)="handleClickPay()">
      Pagar
    </ion-button>
  </div>

  <!-- Modal -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Muy bien</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
          "
        >
          <ion-icon
          *ngIf="!isPayLoading"
            name="checkmark-circle-outline"
            style="font-size: 100px; color: green"
          ></ion-icon>

          <ion-text color="primary" *ngIf="!isPayLoading">
            <h1 style="text-align: center; font-weight: 600">
              Pedido Realizado
            </h1>
          </ion-text>

          <!-- Spiner -->
          <ion-spinner
            *ngIf="isPayLoading"
            color="primary"
            style="margin-bottom: 10px"
          ></ion-spinner>
          <!-- sPINER GRANDE -->
          <ion-text color="primary" *ngIf="isPayLoading">
            <h1 style="text-align: center; font-weight: 600">
              Procesando Pago
            </h1>
          </ion-text>



          <!-- Ver orden -->
          <ion-button
            expand="block"
            color="primary"
            (click)="handleClickView()"
            *ngIf="!isPayLoading"
            
          >
            Ver Orden
          </ion-button>


          <ion-img *ngIf="!isPayLoading" src="assets/img/success.png"></ion-img>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
