<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="salud">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <ion-icon aria-hidden="true" name="bandage"></ion-icon>
      <ion-label>Salud</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cultura">
      <ion-icon aria-hidden="true" name="radio"></ion-icon>
      <ion-label>Cultura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deportes">
      <ion-icon aria-hidden="true" name="football"></ion-icon>
      <ion-label>Deportes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pebi">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>PEBI</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="social">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
