<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> PEBI </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600">
        PEBI - PERMANENCIA Y BIENESTAR INSTITUCIONAL
      </h1>
    </ion-text>
    <ion-img src="assets/img/PEBI.png"></ion-img>
    <ion-text color="primary">
      <h1 style="text-align: inherit; font-weight: 400">
        Presentación
      </h1>
    </ion-text>
    <p>
      La Universidad Popular del Cesar, emanó el Acuerdo No. 005 del 17 de febrero de 2014, en el cual considera que la permanencia y graduación estudiantil tiene como propósito disminuir el fenómeno de la deserción estudiantil el cual afecta al sistema educativo disminuyendo los indicadores en cobertura, calidad, eficiencia y equidad educativas, así mismo el desarrollo de la misión y visión de la Universidad Popular del Cesar seccional Aguachica. La estrategia fundamental para la creación del programa de permanencia y graduación en la Universidad Popular del Cesar, que lleva por nombre Permanencia y Bienestar Institucional – PEBI, está enmarcado en el desarrollo del “Acuerdo Nacional para disminuir la deserción estudiantil en educación superior”, el cual compromete tres ejes fundamentales: el fortalecimiento de la financiación de la educación superior.
    </p>
    <ion-text color="primary">
      <h1 style="text-align: center; font-weight: 600; font-size: 20px;">
        Programas o lineas
      </h1>
    </ion-text>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Programa de Orientación Vocacional y Adaptación Universitaria (POVAU)
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Programa de Orientación Académica. (POA)
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Programa de Orientación Psicosocial (POPS)
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Observatorio de Permanencia y Alertas Tempranas (OPAT)
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-icon name="checkmark-done-outline" style="font-weight: 100"></ion-icon>
        Escuela de Padres de Familia “Unidos en permanencia y convivencia”
      </ion-label>
    </ion-item>
  </div>
</ion-content>
